body {
  width: 290px;
  margin: auto;
}

.Post {
  margin: 12px auto;
  padding: 12px 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.Post__Image {
  max-width: 250px;
}

a {
  text-decoration: none;
  padding-right: 0.5rem;
}

a.active {
  text-decoration: underline;
}

input {
  margin-bottom: 0.5rem;
}

button {
  margin-top: 1rem;
  padding: 0.5 rem;
}